// файл конфигураций 
$SERVICE_COUNT: 3;
$APP_COUNT: 2;
// цвета
$COLOR_VELVET: #7000cc;
$COLOR_WHITE: #ffffff;
$COLOR_GREY: #333;
$COLOR_LIGHTGREY: #ccc;
$COLOR_BLACK: #000000;
$INP_COLORS: (
    
);